---
import Sugestion from "./Sugestion.astro";
---

<div class="flex flex-row space-x-96">
  <div class="flex flex-row space-x-96">
    timeline_left
    <div></div>

    <div class="pl-40">
      <div class="bg-purple-800">
        <Sugestion />
      </div>
    </div>
  </div>
</div>
