---
import Layout from "../layouts/Layout.astro";
import Homepage from "../components/Homepage.astro";
---

<Layout title="Marckgram">
  <main>
    <h1 class="text-white">Hola Mundo</h1>
  </main>
</Layout>

<Homepage />
