---
import Sidenav from "../Navigation/Sidenav.astro";
import Timeline from "../timeline/Timeline.astro";
---

<main class="bg-black text-white">
  <div class="flex flex-row space-x-72">
    <div class="">
      <Sidenav />
    </div>

    <div class="">
      <Timeline />
    </div>
  </div>
</main>
